* {
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  --base-hue: 245;
  --spread: 90;
  --half-spread: calc(var(--spread) / 2);
  background: hsl(var(--base-hue), 12%, 12%);
}

svg {
  max-width: 100%;
  --gradient-hue-start: calc(var(--base-hue) - var(--half-spread));
  --gradient-hue-end: calc(var(--base-hue) + var(--half-spread));
  --gradient-color-start: hsl(var(--gradient-hue-start), 80%, 40%);
  --gradient-color-end: hsl(var(--gradient-hue-end), 80%, 40%);
}

[scope-path] {
  stroke: url(#g);
  fill: transparent;
  stroke-width: 8;
  stroke-linejoin: round;
  stroke-linecap: round;
}
