* {
  margin: 0;
}

html {
  --stroke-width: 4;
  --stroke: salmon;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: peachpuff;
}

svg {
  background-color: inherit;
  max-width: min( 40rem, 80%);
  max-height: min( 40rem, 80%);
}

[scope-border] {
  stroke: var(--stroke);
  fill: transparent;
  stroke-width: calc(2 * var(--stroke-width));
}

[scope-path] {
  stroke: var(--stroke);
  fill: transparent;
  stroke-width: var(--stroke-width);
  stroke-linejoin: round;
  stroke-linecap: round;
}
