* {
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

svg {
  max-width: 100vw;
  --base-hue: 300;
  background: hsl(calc(var(--base-hue) + 45), 14%, 14%); 
  --gradient-color-start: hsl(var(--base-hue), 80%, 40%);
  --gradient-color-end: hsl(calc(var(--base-hue) + 90), 80%, 40%);
}

[scope-path] {
  stroke: url(#g);
  fill: transparent;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
}
